/* Primario rgb(32, 32, 32)*/
/* Secundario #5c7cfa */
/* Resalte #fd7e14 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
  /* background-color: #212529; */
  color: #fff;
}

.cards {
  /* border: solid 5px blue; */
  display: grid;
  grid-template-columns: repeat(3, 323px);
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.card {
  /* border: solid 5px red; */
  background-color: rgb(32, 32, 32);

  border-radius: 15px;
  text-align: center;
  height: 300px;
  color: #fff;
  position: relative;
}

.name {
  text-transform: capitalize;
}

.rating {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fd7e14;
  font-weight: 700;
}

.card:hover {
  border: solid 2px #5c7cfa;
  cursor: pointer;
}

.genres {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.link img {
  height: 165px;
  width: 320px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link:visited {
  color: #fff;
}

.btn {
  font-size: 25px;
  border: 0;
  background-color: transparent;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.btn:hover {
  cursor: pointer;
  color: #fd7e14;
}

/* .image:hover {
  cursor: pointer;
} */
