.title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contBtn {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 15px;
}

.btn {
  background-color: rgb(32, 32, 32);
  border-radius: 8px;
  padding: 10px 10px;
  border: 0;
  height: 45px;
  width: 45px;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: rgb(32, 32, 32);
}
