.container {
  display: flex;
  flex-direction: column;
  margin-top: 12%;
  margin-left: 31%;
  /* border: solid red 3px; */
  width: 500px;
}

.containerForm {
  background-color: rgb(32, 32, 32);
  border: solid #5c7cfa 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 500px;
}

.title {
  color: #fd7e14;
}

.btn {
  height: 30px;
  width: 450px;
  background-color: #5c7cfa;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #5c7cfa;
  border: solid 2px #5c7cfa;
}

.textarea {
  font-family: sans-serif;
  font-size: 13px;
  resize: none;
  width: 450px;
  height: 100px;
  border-radius: 6px;
}

a .btnWhats {
  font-size: 50px;
  background-color: transparent;
  border: 0;
  color: rgb(75, 201, 89);
  margin-bottom: 5px;
}

.btnWhats:hover {
  cursor: pointer;
}

.btnLinkedin {
  font-size: 50px;
  background-color: transparent;
  border: 0;
  color: #0a66c2;
  margin-bottom: 5px;
}

.btnLinkedin:hover {
  cursor: pointer;
}

.btnGithub {
  font-size: 50px;
  background-color: transparent;
  border: 0;
  color: #fff;
  margin-bottom: 5px;
}

.btnGithub {
  cursor: pointer;
}

.contButtons {
  display: flex;
  justify-content: space-around;
}

.btnArrow {
  background-color: transparent;
  /* margin-top: 50px; */
  border: 0;
  color: #5c7cfa;
  font-size: 50px;
  margin-bottom: 10px;
  margin-left: 0px;
  position: absolute;
  left: 150px;
  top: 40px;
}

.btnArrow:hover {
  cursor: pointer;
}

.parrafo {
  position: absolute;
  font-size: 18px;
  top: 110px;
  left: 10%;
}

.btnCv {
  position: absolute;
  right: 340px;
  top: 220px;
  font-size: 30px;
  color: #0a66c2;
}

.btnCv:hover {
  color: #fd7e14;
  cursor: pointer;
}
